* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgray;
}
.container {
    width: 1100px;
    margin: auto;
    background-color: white;
}
.top {
    display: flex;
    justify-content: space-around;
    align-items: end;
    position: relative;
    padding-bottom: 25px;
}
.top .top-i i {
    font-size: 30px;
    color: grey;
}
.top .top-i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
    margin-right: 100px;
}
.top .top-i h1 {
    margin-left: 30px;
    color: grey;
}
.top .label ul {
    display: flex;
    justify-content: center;
    border: 1px lightgray solid;
}
.top .label ul li {
    margin: 30px;
    list-style: none;
    font-size: 20px;
    height: 40px;
}
.top .label ul li a {
    text-decoration: none;
    background-color: transparent;
    color: gray;
    border: none;
    font-weight: 800;
}
.top .label {
    margin-top: 30px;
}
.top .label ul li .a3 {
    color: black;
    padding: 0px 20px 40px 20px;
    border: none;
    border-bottom: 5px solid blue;
}
.top .label ul li .a3:hover {
    color: black;
    border: none;
    border-bottom: 5px solid blue;
    transition: 0.4s;
}
.header-img img {
    width: 100%;
}
.block {
    background-color: brown;
    color: white;
    padding: 10px 25px 10px 25px;
    width: 380px;
    position: relative;
    top: -30px;
    left: -325px;
}
.header {
    display: flex;
}
.header .box1 {
    margin: 10px;
    margin-left: 40px;
}
.header .box2 {
    margin: 10px;
}
.header .box3 {
    margin: 10px;
}
.header .box4 {
    margin: 10px;
}
.header p{
    color: blue;
}
.block2 {
    width: 500px;
    background-color: brown;
    color: white;
    padding: 10px 20px 10px 20px;
    position: relative;
    left: -270px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.navbar {
    margin-top: 30px;
    display: flex;
    margin-left: 130px;
}
.navbar .box1 {
    display: flex;
    width: 400px;
    border: 1px grey solid;
    margin-right: 30px;
}
.navbar .box1 i {
    font-size: 70px;
    color: blue;
}
.navbar .box2 {
    display: flex;
    width: 400px;
    border: 1px grey solid;
}
.navbar .box2 i {
    font-size: 70px;
    color: blue;
}
.navbar2 {
    margin-top: 30px;
    display: flex;
    margin-left: 130px;
}
.navbar2 .box1 {
    display: flex;
    width: 400px;
    border: 1px grey solid;
    margin-right: 30px;
}
.navbar2 .box1 i {
    font-size: 70px;
    color: blue;
}
.navbar2 .box2 {
    display: flex;
    width: 400px;
    border: 1px grey solid;
}
.navbar2 .box2 i {
    font-size: 70px;
    color: blue;
}
.block5 {
    width: 400px;
    background-color: brown;
    color: white;
    margin-top: 20px;
    margin-left: -635px;
    padding: 10px 20px 10px 20px;
}
.bottom {
    display: flex;
    padding-left: 20px;
    margin-top: 30px;
}
.bottom img {
    width: 200px;
    height: 120px;
    margin: 10px 20px;
}
.bottom2 {
    width: 800px;
    margin-left: -220px;
    margin-top: 20px;
    color: grey;
    text-align: left;
}
.bottom3 {
    color: grey;
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: 700;
    margin-right: 50px;
    margin-top: 30px;
    padding-bottom: 40px;
}
